# ------------------------------------------------------------------------------
# Kafka consumer configuration
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=financial_news_raw
KAFKA_GROUP_ID=financial-news-consumer
KAFKA_DLT_TOPIC=financial_news_raw.dlt
# ------------------------------------------------------------------------------
# Historical window (UTC date boundaries)
HIST_DATETIME_FORMAT=%Y-%m-%d %H:%M:%S
HIST_START=2026-05-01 08:00:00
HIST_END=2026-05-01 08:30:00
# ------------------------------------------------------------------------------
# Shared ingest settings
MAX_API_PAGES=3
FINNHUB_TICKERS=AAPL,MSFT,GOOGL,META,NVDA,AMZN,TSLA
FINNHUB_API_KEY=your_finnhub_api_key_here
# ------------------------------------------------------------------------------
# PostgreSQL & pgvector Database Settings
POSTGRES_URL=postgresql://postgres_user:postgres_password@postgres:5432/financial_rag
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
FINANCIAL_RAG_DB=financial_rag
POSTGRES_HOST_PORT=5435
# ------------------------------------------------------------------------------
# Memgraph Graph Database Settings
MEMGRAPH_USER=memgraph_user
MEMGRAPH_PASSWORD=memgraph_password
MEMGRAPH_HOST=memgraph
MEMGRAPH_PORT=7687
MEMGRAPH_UI_PORT=3000
# ------------------------------------------------------------------------------
# Embedder Model
EMBEDDER_MODEL="sentence-transformers/all-mpnet-base-v2"
# ------------------------------------------------------------------------------
# Local Ollama / Qwen LLM for Knowledge Graph Extraction
QWEN_API_BASE=http://host.docker.internal:11434/api/generate
QWEN_MODEL_NAME=qwen3:8b
# ------------------------------------------------------------------------------
